<div class="flex flex-column" style="background-image: url('../../../../assets/images/fondo_5_dashboard.jpg'); height: 250px; border-radius: 5px;">
  <mat-form-field class="pt-5 mb-3 ml-6 flex flex-column col-11" style="margin-top: 60px;">
    <mat-label>Buscar...</mat-label>
    <input
      type="text"
      matInput
      [formControl]="searchInput"
      (input)="searchRecipe()"
      [matAutocomplete]="auto"
    />

    <mat-autocomplete
      autoActiveFirstOption
      #auto="matAutocomplete"
      (optionSelected)="onSelectedOption( $event )"
    >
      <mat-option *ngFor="let recipe of recipes" [value]="recipe">
        {{ recipe.title }}
      </mat-option>

      <mat-option
        *ngIf="recipes.length === 0 && searchInput.value && searchInput.value.length > 0"
        value="">
        No se encontró nada con el término {{ searchInput.value }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
