

<ng-template #divLoading>
  <mat-grid-list cols="1">
    <mat-grid-tile>
      <mat-spinner>
      </mat-spinner>
    </mat-grid-tile>
  </mat-grid-list>

</ng-template>


<div  *ngIf="recipe; else divLoading" class="grid">
  <mat-card class="col-12 sm:col-6">
    <mat-card-header>
      <mat-card-title>{{ recipe.title }}</mat-card-title>
      <mat-card-subtitle>
        Tipo de receta: {{ recipe.tipo | titlecase }}
        <br>
        Tiempo de elaborado: {{ recipe.tiempoElaboracion }}
        <br>
        Tiempo total: {{ recipe.tiempoTotal }}
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="mt-5">
      <p><strong>Ingredientes: </strong></p>
      <!-- <mat-chip-listbox>
        <mat-chip *ngFor="let name of recipe.ingrediente.split(',')">
          {{ name }}
        </mat-chip>
      </mat-chip-listbox> -->

      <mat-divider class="mt-5 mb-3"></mat-divider>

      <p><strong>Preparación: </strong></p>
      <p> {{recipe.preparacion }} </p>

      <mat-divider class="mt-5 mb-3"></mat-divider>

      <p><strong>Cocción: </strong></p>
      <p> {{ recipe.grados }}º durante {{ recipe.tiempoCoccion }} minutos</p>
    </mat-card-content>

    <mat-card-actions class="justify-content-between mt-5">

      <button mat-button
              color="primary"
              (click)="goBack()"
      >
      <mat-icon>home</mat-icon>
      Home
      </button>
      <button mat-button color="warn" (click)="goBack()"><mat-icon>cancel</mat-icon> Eliminar receta </button>
      <button mat-button
              mat-raised

      >
      <mat-icon>edit</mat-icon>
      Editar
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="col-12 sm:col-6">
    <!-- <img mat-card-image [src]="recipe | recipeImage" [alt]="recipe.title" class="mt-3 mb-3"> -->
  </mat-card>
</div>

